*{
    margin: 0;
    padding: 0;
}
svg{
    width: 1em;
    height: 1em;
}
html,
body,
#app,
.el-container,
.el-menu{
    height: 100%;
}
::-webkit-scrollbar{
    width: 4px;
    height: 6px;
}
::-webkit-scrollbar-corner{
    display: block;
}
::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-track{
    border-right-color: transparent;
    border-left-color: rgba(0, 0, 0, 0.1);
}